@using Troye_Computer_Systems.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Style Sheet/Colleagues.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Style Sheet/Project.css")" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="width=device-width" />
    <title>Your Fellow Colleagues</title>
</head>

<div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
    <a href="Bathrooms.aspx">TROYE</a>
</div>
<br />
<br />
<br />
<div class="sidebar" style="margin-top: auto;">
    <a href="CommunicationAdmin" class="tablinks" onclick="openOption('Index','CommunicationAdmin')" id="defaultOpen">Dashboard</a>
    <a href="Register" class="tablinks" onclick="openOption('Register','Index')" id="defaultOpen">Register</a>
    <a href="ColleaguesAdmin" class="tablinks" onclick="openOption('ColleaguesAdmin','Index')" id="defaultOpen">Fellow Colleagues</a>
    <a href="Login" class="tablinks" onclick="openOption('Index','Login')" id="defaultOpen">Logout</a>
</div>



<body>
    <table class="table">
        <thead role="rowgroup">
            <tr role="row">
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th role="columnheader">@col.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr role="row">
                    @foreach (var cell in row.ItemArray)
                    {
                        <td class="cell">@cell.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
