@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Style Sheet/Project.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
 
        <div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
            <a href="Bathrooms.aspx">TROYE</a>
        </div>
        <br />
        <br />
        <br />
        <div class="sidebar" style="margin-top: auto;">
            <a href="#AdminSection" class="tablinks" onclick="openOption(event, 'Home')" id="defaultOpen">Home</a>
            <a href="#Dashboard" class="tablinks" onclick="openOption(event, 'Dashboard')">Dashboard</a>
            <a href="#Register" class="tablinks" onclick="openOption(event, 'Register')">Register</a>
            <a href="#Projects" class="tablinks" onclick="openOption(event, 'Projects')">Projects</a>
        </div>


        <!-- This is section1 of the page-->
        <div class="section2">
            @using (Html.BeginForm("postusingparameters", "Project"))
            {
            <div class="textarea">
             
                <p>Projects </p>
                <br />
                @*<div class="listAll">
                @Html.ListBox("Company", ViewBag.CompanyName as SelectList)
                </div>*@
              
                <button ID="btnSelectAll" runat="server" type="submit">View</button>
                <br />
                <br />
                @*<div class="listallView">*@
            <table class="table">
                <thead role="rowgroup">
                    <tr role="row">
                        @foreach (System.Data.DataColumn col in Model.Columns)
                        {
                            <th role="columnheader">@col.Caption</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in Model.Rows)
                    {
                        <tr role="row">
                            @foreach (var cell in row.ItemArray)
                            {

                                <td class="cell">@cell.ToString()</td>

                              
                        @*<select >
                        <option value="taskdetails" role="row">@cell.ToString()</option>
                        </select>*@
                            }

                        </tr>

                    }
                </tbody>
            </table>
                    @*</div>*@

                    <br />
                    <br />

            </div>
                }
            </div>

    

  
    <div>
        @RenderBody()
    </div>
</body>
</html>
