@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Style Sheet/Project.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
 
        <div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
            <a href="Bathrooms.aspx">TROYE</a>
        </div>
        <br />
        <br />
        <br />
        <div class="sidebar" style="margin-top: auto;">
            <a href="#AdminSection" class="tablinks" onclick="openOption(event, 'Home')" id="defaultOpen">Home</a>
            <a href="#Dashboard" class="tablinks" onclick="openOption(event, 'Dashboard')">Dashboard</a>
            <a href="#Register" class="tablinks" onclick="openOption(event, 'Register')">Register</a>
            <a href="#Projects" class="tablinks" onclick="openOption(event, 'Projects')">Projects</a>
        </div>
        <!-- This is section1 of the page-->
        <div class="section2">
            @using (Html.BeginForm("postusingparameters", "Project"))
            {
            <div class="textarea">
                <p>Current Projects </p>
                <br />
                <div class="listAll">
                    <asp:ListBox ID="listCurrent" runat="server" Width="30%" Height="30%"></asp:ListBox>  <asp:Button ID="btnSelectCurrent" runat="server" Text="View" OnClick="btnSelectCurrent_Click" />
                </div> 
                    <br />
                    <br />
                    <asp:ListBox ID="listViewCurrent" runat="server" Width="85%" Height="70%" Rows="10"></asp:ListBox>
                    <br />
                    <br />
                    <p>All Projects </p>
                    <br />
                    <div class="listAll">
                        @Html.ListBox("Company", ViewBag.CompanyName as SelectList)
                    </div>
                    @*@foreach (System.Data.DataColumn col in Model.Columns){ <asp:ListBox ID="listAll" runat="server" Width="30%" Height="50%" role="columnheader">@col.Caption</asp:ListBox>}*@
                
                    <button ID="btnSelectAll" runat="server" type="submit">View</button>
                    <br />
                    <br />
                    <div class="listallView">
                        @foreach (System.Data.DataRow row in Model.Rows)
                        {

                            foreach (var cell in row.ItemArray)
                            {
                                @*<asp:ListBox ID="listViewAll" runat="server" Width="85%" Height="70%" Rows="19" role="row">@cell.ToString()</asp:ListBox>*@
                                <select>
                                    <option value="taskdetails" role="row">@cell.ToString()</option>

                                </select>

                            }

                        }
                    </div>

                    <br />
                    <br />

                </div>
                }
            </div>

    

  
    <div>
        @RenderBody()
    </div>
</body>
</html>
