@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Communication View</title>
    <link href="@Url.Content("~/Style Sheet/CommunicationStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Style Sheet/Project.css")" rel="stylesheet" type="text/css" />
</head>

<div class="topBar" style="width:100%; height:10%; position:absolute; background-color:#C4CCDE;left: 0; top:0;float:right; margin-right:0;">
    <a href="Bathrooms.aspx">TROYE</a>
</div>
<br />
<br />
<br />
<div class="sidebar" style="margin-top: auto;">
    <a href="#AdminSection" class="tablinks" onclick="openOption(event, 'Home')" id="defaultOpen">Home</a>
    <a href="#Dashboard" class="tablinks" onclick="openOption(event, 'Dashboard')">Dashboard</a>
    <a href="#Register" class="tablinks" onclick="openOption(event, 'Register')">Register</a>
    <a href="#Projects" class="tablinks" onclick="openOption(event, 'Projects')">Projects</a>
</div>

<body>
    <h1>Messages</h1>
    <br />
    <table class="table">
        <thead role="rowgroup">
            <tr role="row">
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th role="columnheader">@col.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr role="row">
                    @foreach (var cell in row.ItemArray)
                    {
                        <td class="cell">@cell.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />
    <br />


    <section class="section-enterMessage">
        @using (Html.BeginForm("postusingparameters", "Contact"))
        {
            <br />
            <h1>Please enter your message below: </h1>
            <br />
            <input id="CommMessage" type="text" name="CommMessage" placeholder="Your message here" required="" />
            <br />
            <br />
            <div id="submit-button">
                <button id="submit" align="center" type="submit">Send Message</button>
            </div>
        }
    </section>


    <div>
        @RenderBody()
    </div>
</body>
</html>





@*<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Style Sheet/Colleagues.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Your Fellow Colleagues</title>
</head>
<body>
    <table class="table">
        <thead role="rowgroup">
            <tr role="row">
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th role="columnheader">@col.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr role="row">
                    @foreach (var cell in row.ItemArray)
                    {
                        <td class="cell">@cell.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>*@